<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProject">
        <activity
            android:name=".QIDPageTwelve"
            android:exported="false" />
        <activity
            android:name=".QIDPageEleven"
            android:exported="false" />
        <activity
            android:name=".QIDPageTen"
            android:exported="false" />
        <activity
            android:name=".QIDPageNine"
            android:exported="false" />
        <activity
            android:name=".QIDPageEight"
            android:exported="false" />
        <activity
            android:name=".QIDPageSeven"
            android:exported="false" />
        <activity
            android:name=".QIDPageSixWeightIncrease"
            android:exported="false" />
        <activity
            android:name=".QIDPageSixWeightDecrease"
            android:exported="false" />
        <activity
            android:name=".QIDPageFive"
            android:exported="false" />
        <activity
            android:name=".QIDPageFourDecreased"
            android:exported="false" />
        <activity
            android:name=".QIDPageFourIncreased"
            android:exported="false" />
        <activity
            android:name=".QIDPageThree"
            android:exported="false" />
        <activity
            android:name=".QIDPageTwo"
            android:exported="false" />
        <activity
            android:name=".QIDPageOne"
            android:exported="false" />
        <activity
            android:name=".AlarmsPage"
            android:exported="false" />

        <activity
            android:name=".JournalPage"
            android:exported="false" />
        <activity
            android:name=".GoalPage"
            android:exported="false" />
        <activity
            android:name=".RecommendationPage"
            android:exported="false" />
        <activity
            android:name=".ProgressTracker"
            android:exported="false" />
        <activity
            android:name=".HomePage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
